:root {
    --primary-color: #2D2D2D;  /* Charcoal Gray */
    --secondary-color: #FFFFFF; /* White */
    --accent-color: #99c275; /* Green */
    --highlight-color: #F1F1F1; /* Light Gray */
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}

button {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

nav {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

section {
    padding: 20px;
}
#contact {
    padding-bottom: 120px;
}
footer {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

#typewriter {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color: #2e7d32; /* soft elegant green */
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #2e7d32;
    animation: blink-caret 0.75s step-end infinite;
    letter-spacing: 1px;
    opacity: 0.95;
}
  
@keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #2e7d32;
    }
}
  